*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 15px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;

}
nav a:hover{
    background-color: #444;
    border-radius: 5px;
}
.icon{
    font-weight: bold;
    font-size: 20px;
    color: yellow;
    margin-right: auto;
}